<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.halfwit.cognitivepin" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FaceTraining"
            android:label="@string/title_activity_face_training"
            android:parentActivityName=".HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.halfwit.cognitivepin.HomeScreen" />
        </activity>
        <activity
            android:name=".SavePIN"
            android:label="@string/title_activity_home_screen" >
            android:parentActivityName=".FaceTraining" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.halfwit.cognitivepin.FaceTraining" />
        </activity>
        <activity
            android:name=".FaceDetection"
            android:label="@string/title_activity_face_detection"
            android:parentActivityName=".HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.halfwit.cognitivepin.HomeScreen" />
        </activity>
        <activity
            android:name=".InputPIN"
            android:label="@string/title_activity_input_pin"
            android:parentActivityName=".FaceDetection" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.halfwit.cognitivepin.FaceDetection" />
        </activity>
    </application>

</manifest>
