<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.halfwit.cognitivepin" >

    <supports-screens android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera.front"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FaceTraining"
            android:label="@string/title_activity_face_training"
            android:parentActivityName=".HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.halfwit.cognitivepin.HomeScreen" />
        </activity>
        <activity
            android:name=".SetPIN"
            android:label="@string/title_activity_set_pin" >
            android:parentActivityName=".FaceTraining" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.halfwit.cognitivepin.FaceTraining" />
        </activity>
        <activity
            android:name=".FaceDetection"
            android:label="@string/title_activity_face_detection"
            android:parentActivityName=".HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.halfwit.cognitivepin.HomeScreen" />
        </activity>
        <activity
            android:name=".InputPIN"
            android:label="@string/title_activity_input_pin"
            android:parentActivityName=".FaceDetection" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.halfwit.cognitivepin.FaceDetection" />
        </activity>
        <activity
            android:name=".UserList"
            android:label="@string/title_activity_user_list"
            android:parentActivityName=".HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.halfwit.cognitivepin.HomeScreen" />
        </activity>

        <activity android:name="com.halfwit.cognitivepin.FdActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation">
        </activity>
    </application>

</manifest>
